/* Centrado del título y subtítulos */
h1, h2, h4 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Estilos para el texto general */
p, ul, li {
    font-family: 'Verdana', sans-serif;
    color: #555;
}

/* Estilo de la imagen */
img {
    border-radius: 10px;
    margin-top: 10px;
}

/* Lista principal de habilidades y formación */
ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0;
    margin-left: 15px;
}

ul li {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Sublistas de habilidades y formación */
ul ul {
    font-weight: normal;
    margin-left: 20px;
}

/* Botones de enlaces */
button {
    background-color: #2ea44f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #268a3a;
}

/* Tablas de proyectos */
table {
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

table h1 {
    font-size: 20px;
    color: #333;
}

table h3 {
    font-size: 16px;
    color: #777;
}

/* Sección de contacto */
ul li strong {
    color: #2ea44f;
}

/* Estilo para el banner */
.banner {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}

